<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/renderingEngineStyle.css" type="text/css" th:href="@{/css/renderingEngineStyle.css}"/>
  <title>League Of Legends presentation</title>
</head>
<body>
<header>
  <!--Poate fi nevoie de "/" la "src"-->
  <img src="images/image1.jpg">
</header>
<nav>
  <ul>
    <li><a href="renderingEngine.html" id="navigationLink1">Presentation</a></li>
    <li><a href="gameplayRenderingEngine.html" id="navigationLink2">Gameplay</a></li>
    <li><a href="championsRenderingEngine.html">Champions</a></li>
    <li><a href="itemsRenderingEngine.html">Items</a></li>
    <li><a href="#">Lore</a></li>
    <li><a href="#">Cinematics</a></li>
    <li><a href="#">Download</a></li>
  </ul>
</nav>
<main>
  <h1>Welcome to League Of Legends!</h1>
  <p>League of Legends is a strategy game focused on team play, in which two teams of five formidable champions face off to destroy the enemy base. Choose one of over 140 champions, take part in epic rounds, destroy your opponents and destroy enemy towers to ensure your victory.</p>
  <img src="images/image11.jfif">
</main>
<footer>
  <ul>
    <li><a href="#">Terms of use</a></li>
    <li><a href="#">Cookie policy</a></li>
    <li><a href="#">Company informations</a></li>
    <li><a href="#">Cookie preferences</a></li>
  </ul>
  <img src="images/image3.PNG" id="logo">
</footer>
<script src="javaScriptEngine.js">
</script>
</body>
</html>